In [1]:
import numpy as np
import pandas as pd
import time

In [4]:
N = []
for i in range(7):
    N.append([1]*7)

for i in range(7):
    N[i][i]=0
    
N = pd.DataFrame(N)

   0  1  2  3  4  5  6
0  0  1  1  1  1  1  1
1  1  0  1  1  1  1  1
2  1  1  0  1  1  1  1
3  1  1  1  0  1  1  1
4  1  1  1  1  0  1  1
5  1  1  1  1  1  0  1
6  1  1  1  1  1  1  0

In [9]:
P = N
for i in range(np.shape(N)[0]):
    sum_row = 0.0
    for j in range(np.shape(N)[1]):
        sum_row += N.iloc[i, j]
    for j in range(np.shape(N)[1]):
        P.iloc[i, j] = round(N.iloc[i, j]*100/sum_row)/100
        
matrix_r = np.identity(7)

v_final = []
a = 0.15
start = time.perf_counter()
for j in range(7):
    r0 = np.array(matrix_r[j])
    v = r0
    Pt = (P.T).values
    for i in range(100):
        v = (1-a)*np.dot(Pt, v)+a*r0
    for i in range(np.size(v)):
        v[i] = round(v[i]*100)/100
    v_final.append(v)
elapsed = (time.perf_counter() - start)
print("Time used:",elapsed)
v_final = pd.DataFrame(v_final)
v_final = v_final.T
v_final

Time used: 0.005433299999992869

      0     1     2     3     4     5     6
0  0.27  0.14  0.14  0.14  0.14  0.14  0.14
1  0.14  0.27  0.14  0.14  0.14  0.14  0.14
2  0.14  0.14  0.27  0.14  0.14  0.14  0.14
3  0.14  0.14  0.14  0.27  0.14  0.14  0.14
4  0.14  0.14  0.14  0.14  0.27  0.14  0.14
5  0.14  0.14  0.14  0.14  0.14  0.27  0.14
6  0.14  0.14  0.14  0.14  0.14  0.14  0.27

In [10]:
np.dot([0, 1, 0, 0, 1, 0, 0],v_final.values)

array([0.28, 0.41, 0.28, 0.28, 0.41, 0.28, 0.28])